.additional-products {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
  display: block;
  width: 286px;
  padding-left: 20px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 381px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 456px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
    margin-left: -39px;
    padding: 0;
    text-align: center;
  }
}

.additional-products__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 164px;
    margin: 0 auto 0 0;
  }
}

.additional-products__list {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap column;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    margin-bottom: 73px;
    border-bottom: transparent;
    gap: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    margin: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    align-items: center;
  }
}

.additional-products__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  bottom: 0;
  left: 0;
}

.additional-products__item:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products__button.button {
  width: 100%;

  @media (min-width: $desktop-width) {
    margin: 0;
    min-width: 244px;
    width: 244px;
    margin-left: 40px;
  }
}
