.advantages {
  margin-bottom: 49px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 69px;
    max-width: 1440px;
  }
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-flow: wrap row;
    gap: 37px 137px;
    counter-reset: custom-counter;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    column-gap: 0;
  }
}

.advantages__text {
  color: #444444;
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 35%;
    flex-direction: column;
    min-height: 280px;
    align-items: start;
    padding: 40px 0 13px;
    gap: 31px;
    counter-increment: custom-counter;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    width: 250px;
  }
}

.advantages__item:nth-child(4) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.advantages__item::before {
  content: "";
  display: flex;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #68b738;
  background-image: url("../../icons/stack.svg#advantages-icon-list");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__item--colb::before {
  background-image: url("../../icons/stack.svg#advantages-icon-colb");
}

.advantages__item--fork::before {
  background-image: url("../../icons/stack.svg#advantages-icon-forc");
}

.advantages__item--clock::before {
  background-image: url("../../icons/stack.svg#advantages-icon-clock");
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    content: counter(custom-counter);
    display: flex;
    z-index: -1;
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    right: 0;
    top: 0;
    color: #f2f2f2;
  }
}

.advantages__item--first {
  @media (min-width: $desktop-width) {
    width: 230px;
    margin-right: 94px;
  }
}

.advantages__item--first::after {
  @media (min-width: $tablet-width) {
    right: 25px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}
