.button {
  background-color: #68b738;
  width: 280px;
  min-height: 40px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: block;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #8ec36d;
}

.button--more {
  background-color: #f2f2f2;
  color: #444444;
}

.button--more:hover {
  background-color: #ebebeb;
}

.button--more:active {
  background-color: #ebebeb;
}
