.cart-description {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
  }

  @media (min-width: $desktop-width) {
    gap: 7px;
  }
}

.cart-description__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 25px;
  }
}

.cart-description__value {
  margin: 0;
}

.cart-description__key {
  max-width: 50%;
}
