.cart__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 15px;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.cart__link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 76px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.cart__link--more {
  width: 219px;
  padding-top: 56px;
  margin: 0 auto 21px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    margin-bottom: auto;
    width: 169px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    padding-top: 96px;
  }
}

.cart__link--more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#icon-plus");
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-plus-tablet");
    top: -1px;
  }
}

.cart__text {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.cart__text-wrapper {
  display: flex;
  flex-flow: wrap column;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 250px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.cart__img-wrapper {
  width: 140px;
  height: 107px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: -1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: -68px auto 22px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-bottom: 10px;
  }
}

.cart__img {
  width: 68px;
  height: 86px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.cart__img--big {
  width: 84px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    height: 196px;
  }
}

.button.cart__button {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.cart__button.button--more {
  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.cart--more {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 46%;
    padding: 52px 37px 35px;
    flex-flow: wrap column;
    background-color: #ffffff;
    margin: 0;
    border: 2px solid #f2f2f2;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    justify-content: end;
  }
}

.cart__title--more {
  width: 100%;
  margin-bottom: 8px;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.cart__text--more {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: auto;
  }
}
