.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  color: #444444;
}

.example__key {
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__value {
  color: #444444;
}

.example__text-price {
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
