.example {
  background-color: #eaeaea;
  margin: 0 auto;
  padding: 25px 20px 40px;
  width: 100vw;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: linear-gradient(#ffffff 57%, #eaeaea 57%);
    position: relative;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(#ffffff 23%, #f2f2f2 23%);
  }
}

.example::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.example__wrapper {
  display: flex;
  flex-flow: wrap column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 102px;
    max-width: 1100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
    max-width: 1440px;
    position: relative;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.example__description {
  margin: 0;
  width: 124px;
  text-align: center;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-height: 56px;
  padding: 15px 15px 7px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    min-height: 74px;
  }
}

.example__text {
  color: #444444;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 69px;
    padding-top: 70px;
  }
}

.example__key {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value {
  color: #444444;
  margin: 0;
  width: 77px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eaeaea;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    line-height: 14px;
    background-color: #ffffff;
    width: 135px;
    bottom: -9px;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    bottom: -6px;
  }
}

.example__value--weight {
  @media (min-width: $tablet-width) {
    width: 110px;
  }
}

.example__list {
  margin: 0;
  margin-bottom: 34px;
  display: flex;
  gap: 32px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 367px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.example__list-wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 708px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0;
  }
}

.example__text-wrapper {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  width: 188px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
    place-content: end flex-start;
    gap: 9px;
    padding-top: 11px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    text-align: center;
    margin: 0;
    justify-content: space-between;
  }
}

.example__text-price {
  margin: 0;
  width: 121px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: start;
  }
}

.example__text-summ {
  margin: 0;
  width: 67px;

  @media (min-width: $tablet-width) {
    width: 90px;
    margin-left: auto;
  }
}

.example__slider {
  width: 280px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 110px;
    width: 560px;
    min-height: 512px;
  }
}
