.footer {
  margin: 0;
  background-color: #f2f2f2;
}

.footer__list {
  padding: 20px 0;
  margin: 0 auto;
  list-style: none;
  width: 132px;
  min-height: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
}

.footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-flow: wrap column;

  @media (min-width: $tablet-width) {
    flex-flow: wrap row;
    padding: 50px 30px;
  }
}

.footer__logo {
  margin: 0 auto 20px;
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    align-items: center;
  }
}

.footer__logo-svg {
  fill: #111111;
}

.footer__logo:hover .footer__logo-svg {
  fill: #3e3e3e;
}

.footer__logo:active .footer__logo-svg {
  fill: #6b6b6b;
}

.footer__developer-wrapper {
  align-items: center;
  padding-top: 20px;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-width: 168px;
    padding: 0;
  }
}
