.main-catalog {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.main-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 301px;
    font-size: 32px;
    line-height: 32px;
    display: block;
    margin-bottom: 80px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
