.nav-menu {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
  }
}

.nav-menu__wrapper {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 53px;
  right: 0;
  background-color: #ffffff;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 437px;
    position: static;
    flex-direction: row;
    margin-left: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 476px;
    background-color: transparent;
    color: #ffffff;
    margin-left: auto;
  }
}

.nav-menu__wrapper--catalog {
  color: #111111;
}

.nav-menu--close {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
  }
}

.nav-menu__item {
  min-height: 65px;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 36px;
    min-width: auto;
  }
}

.nav-menu__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  left: 0;
  transform: translateY(-50%);
  top: 0;

  @media (min-width: $tablet-width) {
    width: 0;
    display: none;
  }
}

.nav-menu__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  width: 100%;
  min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;

  @media (min-width: $tablet-width) {
    min-height: 100%;
    padding: 0;
    align-items: flex-start;
  }
}

.nav-menu__link--current {
  @media (min-width: $tablet-width) {
    border-color: #68b738;
  }

  @media (min-width: $desktop-width) {
    border-color: #ffffff;
  }
}

.nav-menu__link--current.nav-menu__link--catalog {
  @media (min-width: $desktop-width) {
    border-color: #68b738;
  }
}

.nav-menu__link:hover {
  opacity: 60%;
}

.nav-menu__link:focus {
  opacity: 30%;
}

.nav-menu__link:active {
  opacity: 100%;
}
