.nav-menu {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.nav-menu__list {
  list-style: none;
}

.nav-menu__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
