.products {
  padding: 27px 20px 0;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 40px 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 110px 71px;
    width: 1440px;
    margin: 0 auto;
  }
}

.products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 60px;
    row-gap: 90px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.products__item {
  padding: 20px 0 25px;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    margin: 0;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px;
  }
}

.products__item--more {
  @media (min-width: $tablet-width) {
    background: #ffffff;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-flow: wrap row;
    align-items: end;
  }
}

.products-description__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
}
