.products {
  padding: 27px 0 0;
  width: 100vw;
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    padding: 40px 30px;
    max-width: 1160px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 70px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto 42px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 163px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 164px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;
  position: relative;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 141px 56px;
  }

  @media (min-width: $desktop-width) {
    gap: 144px 80px;
  }
}

.products__list::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.products__item {
  padding: 20px 20px 25px;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 46%;
    min-height: 430px;
    margin: 0;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px;
  }
}

.products__item::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.products__item--more {
  @media (min-width: $tablet-width) {
    background: #ffffff;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-flow: wrap row;
    align-items: end;
  }
}

.products-description__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
  }
}
