.programs {
  background-color: #ffffff;
  margin-bottom: 16px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
    margin-bottom: 75px;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    flex-direction: row;
  }
}

.programs__item {
  background-color: #f2f2f2;
  position: relative;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 67px 317px 53px 52px;
    display: flex;
    flex-flow: wrap column;
    max-width: 1280px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 52px 50px;
    max-width: 1440px;
  }
}

.programs__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 53px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 200px;
    height: 211px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    margin: 0;
    position: absolute;
    transform: none;
    right: auto;
    left: 52px;
    top: 41px;
  }
}

.programs__item--slim::before {
  background-image: url("../../icons/stack.svg#cat-slim");

  @media (min-width: $tablet-width) {
    right: 63px;
  }
}

.programs__item--pro::before {
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  margin-right: 10px;
  margin-left: -7px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    margin: 0 0 0 auto;
    top: 52%;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    left: 31px;
    top: 47px;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    display: block;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.programs__text {
  color: #444444;
  margin: 0;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 23px;
  }
}

.programs__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -23px;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.programs__button {
  position: relative;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
  width: 134px;
  min-height: 24px;
  padding: 4px 47px 4px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    min-height: 38px;
  }
}

.programs__button::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 12px;
  background-image: url("../../icons/stack.svg#icon-row-long");
  background-position: -8px;
  background-size: 35px 12px;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 1;
}

.programs__button:hover::after {
  background-position: 0;
}

.programs__button:focus {
  outline: none;
}

.programs__button:active {
  opacity: 30%;
}
