.programs {
  background-color: #ffffff;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__item {
  background-color: #f2f2f2;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__text {
  color: #444444;
}

.programs__button {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: inherit;
}

