.promo {
  background-color: rgb(104, 183, 56, 0.85);
  color: #ffffff;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
