.promo__background {
  width: 100%;
  height: 302px;
  position: absolute;
  z-index: -1;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 694px;
    justify-items: end;
    min-height: 694px;
    z-index: -1;
    right: 0;
    top: -114px;
    width: 100vw;
  }
}

.promo__background-wrapper {
  height: 302px;

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-column: 2 / 3;
    height: 694px;
  }
}

.promo__background-img {
  object-fit: cover;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.promo {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  width: 100vw;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    padding: 27px 30px 526px;
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
    padding: 23px 110px 0;
    justify-content: center;
    margin-bottom: 82px;
  }
}

.promo::before {
  position: absolute;
  content: "";
  display: block;
  min-width: 100vw;
  min-height: 302px;
  background-color: #68b738;
  opacity: 85%;
  top: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-width: 50%;
    height: 694px;
    right: 0;
    top: -114px;
  }
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
  }
}

.promo__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 21px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  position: relative;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    align-items: start;
    padding-top: 36px;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    position: relative;
    padding: 110px 0 151px 80px;
    margin-left: 0;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
}

.promo__img-wrapper {
  width: 280px;
  height: 270px;
  position: absolute;
  top: 63%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    transform: none;
    left: 0;
    top: 74%;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-33%);
  }
}

.promo__button-link.button {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 26px;
    min-height: 64px;
    min-width: 242px;
  }
}

.promo__button-wrapper {
  width: 280px;
  margin-top: 270px;

  @media (min-width: $tablet-width) {
    z-index: 1;
    width: 244px;
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
