.social {
  position: relative;
  width: 100%;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: 132px;
    padding: 0;
    margin-right: 124px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.social::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666666;
}

.social__link:hover {
  background-color: #68b738;
}

.social__link:active {
  background-color: #c9e1bb;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vkontakte");
  mask-size: 27px 17px;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-size: 24px 18px;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-size: 19px 17px;
}
