.subscribe {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 98px 0 103px;
    width: 100vw;
  }
}

.subscribe__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 32px -20px;
  display: block;
  width: 212px;
  background-color: #ffffff;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 66px -38px;
    padding: 0 40px;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    margin-left: -41px;
    font-size: 40px;
    line-height: 40px;
    width: 333px;
  }
}

.subscribe__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.subscribe__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 68px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
    margin: 0 auto;
  }
}
